<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 
 <ion-card>
      <ion-card-header>

      <!-- clase en la hoja de estilo -->
        <ion-card-title class="titulo">Mi aplicación</ion-card-title>
      
    </ion-card-header>
    
      <ion-card-content>

      <!-- identificador en la hoja de estilo -->
      <p id="descripcion">Hola amigos!</p>

      </ion-card-content>
    </ion-card>


</ion-content>



